// Colors
$lightCyan: hsl(193, 38%, 86%);
$neonGreen: hsl(150, 100%, 66%);
$grayishBlue: hsl(217, 19%, 38%);
$darkGrayishBlue: hsl(217, 19%, 24%);

// Font
$primaryFont: 'Manrope', sans-serif;

// Other globals
$radius: 0.5rem;
$transition: all 0.2s linear;

//Layouts
$mobileLayout: 23.4375rem;
$desktopLayout: 90rem;
